<%= form_for(@bathroom) do |f| %>
  <% if @bathroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bathroom.errors.count, "error") %> prohibited this bathroom from being saved:</h2>

      <ul>
      <% @bathroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :floor_no %><br>
    <%= f.text_field :floor_no %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_time %><br>
    <%= f.datetime_select :post_time %>
  </div>
  <div class="field">
    <%= f.label :restroom_hours %><br>
    <%= f.text_field :restroom_hours %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
